.main{
	font-family: Arial, Helvetica, sans-serif;
	width:50%;
	margin: 0 auto;
}
.tableauPlaceholder{
	width: 150% !important;
	margin-left: -20%;
}
.dc-chart g.row text 
{
	fill: black;
}
div.dc-chart
{
	float:none;
}
.chart
{
	display:inline-block;
	width: 150% !important;
	padding: 5px;
	height:150%;
	position:relative;
}
.h3 
{
	float:left;
}